<div class="filters">
  <input type="text" id="name" placeholder="Filter by name..." class="filter" />
  <select name="type" id="type" class="filter">
    <option value="" default>type</option>
    <option value="Planet">Planet</option>
    <option value="Cluster">Cluster</option>
    <option value="Space station">Space station</option>
    <option value="TV">TV</option>
    <option value="Resort">Resort</option>
    <option value="Fantasy town">Fantasy town</option>
    <option value="Dream">Dream</option>
  </select>
  <select name="dimension" id="dimension" class="filter">
    <option value="Dimension C-137">Dimension C-137</option>
    <option value="unknown">unknown</option>
    <option value="Post-Apocalyptic Dimension">
      Post-Apocalyptic Dimension
    </option>
    <option value="Replacement Dimension">Replacement Dimension</option>
    <option value="Cronenberg Dimension">Cronenberg Dimension</option>
    <option value="Fantasy Dimension">Fantasy Dimension</option>
    <option value="Dimension 5-126">Dimension 5-126</option>
  </select>
</div>
