header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  
  header > ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  header > ul > li {
    font-size: 18px;
    font-weight: 500;
  }
  
  .container {
    max-width: 1144px;
    margin: 0 auto;
    padding: 0 20px;
  }
  