<main>
  <section>
    <div class="logo-image">
      <img src="../../../assets/rick-and-morty 1.png" />
    </div>
    <div class="filters">
      <app-filters-locations></app-filters-locations>
    </div>
    <div class="card-locations">
      <app-card-location
        [routerLink]="['contentlocation', location.id]"
        *ngFor="let location of locations"
        name="{{ location.name }}"
        type="{{ location.type }}"
      ></app-card-location>
    </div>
    <app-button-more (click)="loadmore()"></app-button-more>
  </section>
</main>
