.filters {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.filters .filter {
  width: 600px;
  padding: 10px 20px;
  background: transparent;
  border: 1px solid #2196f3;
  border-radius: 5px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}