<main>
  <section class="chars">
    <img src="../../../assets/PngItem_438051 1.png" alt="" />
    <div class="filters">
      <app-filters></app-filters>
    </div>
    <div class="chars-container">
      <app-chars
        *ngFor="let chars of char"
        nameChars="{{ chars.name }}"
        imageChars="{{ chars.image }}"
        id="{{ chars.id }}"
        speciesChars="{{ chars.species }}"
      ></app-chars>
    </div>

    <app-button-more (click)="loadMore()">load more</app-button-more>
  </section>
</main>
