<app-menu-bar></app-menu-bar>
<section class="content-container">
  <header class="content-header">
    <div class="header-back">
      <a routerLink="">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
        >
          <path
            d="M16 7H3.83L9.42 1.41L8 0L0 8L8 16L9.41 14.59L3.83 9H16V7Z"
            fill="black"
          />
        </svg>
        <span>GO BACK</span>
      </a>
    </div>
    <div class="header-char">
      <div class="header-image">
        <img src="{{ imageChars }}" alt="" />
      </div>
      <div class="header-name-char">
        <h1>{{ nameChars }}</h1>
      </div>
    </div>
  </header>
  <main>
    <span>informations</span>

    <div class="main-informations">
      <div class="informations">
        <h3>Gender</h3>
        <span>{{ genderChars }}</span>
      </div>
      <div class="informations">
        <h3>Status</h3>
        <span>{{ statusChars }}</span>
      </div>
      <div class="informations">
        <h3>Specie</h3>
        <span>{{ specieChars }}</span>
      </div>
      <div class="informations">
        <h3>Origin</h3>
        <span>{{ originChars }}</span>
      </div>
      <div class="informations">
        <h3>Type</h3>
        <span>{{ typeChars }}</span>
      </div>
      <div class="informations">
        <h3>Location</h3>
        <span>{{ locationChars }}</span>
      </div>
    </div>
  </main>
</section>
