<section class="content-container">
  <header class="content-header">
    <div class="header-back">
      <app-button-return [routerLink]="['']"></app-button-return>
    </div>
    <div class="header-char">
      <div class="header-image">
        <img src="{{ imageChars }}" alt="" />
      </div>
      <div class="header-name-char">
        <h1>{{ nameChars }}</h1>
      </div>
    </div>
  </header>
  <main>
    <span>informations</span>

    <div class="main-informations">
      <div class="informations">
        <h3>Gender</h3>
        <span>{{ genderChars }}</span>
      </div>
      <div class="informations">
        <h3>Status</h3>
        <span>{{ statusChars }}</span>
      </div>
      <div class="informations">
        <h3>Specie</h3>
        <span>{{ specieChars }}</span>
      </div>
      <div class="informations">
        <h3>Origin</h3>
        <span>{{ originChars }}</span>
      </div>
      <div class="informations">
        <h3>Type</h3>
        <span>{{ typeChars }}</span>
      </div>
      <div class="informations">
        <h3>Location</h3>
        <span>{{ locationChars }}</span>
      </div>
    </div>
  </main>
</section>
