.char {
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.char > img {
  width: 240px;
  height: 168px;
  object-fit: cover;
}

.char .char-info {
  padding: 10px;

  color: rgba(0, 0, 0, 0.87);

  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.char .char-info span {
  display: block;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.6);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.25px;
}
