.chars {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chars .chars-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 240px);
    gap: 20px;
    margin-top: 50px;
}


.chars .chars-container .char {
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.chars-container .char>img {
    width: 240px;
    height: 168px;
    object-fit: cover;
}

.chars-container .char .char-info {
    padding: 10px;

    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
    letter-spacing: 0.00938rem;
}

.char .char-info span {
    display: block;
    margin-top: 5px;
}